{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>可盈后台管理系统</title>
  <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">可盈后台管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="{% url 'users:index' %}">用户管理</a></li>
      <li class="layui-nav-item"><a href="{% url 'finance:index' %}">资金管理</a></li>
      <li class="layui-nav-item"><a href="{% url 'operation:index' %}">营销管理</a></li>
        <li class="layui-nav-item"><a href="{% url 'OPS:index' %}">产品监控</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">营销设置</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">日志监控</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          贤心
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>

{% block left_content %}

{% endblock %}

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        {% block content %}
        {% endblock %}
    </div>
  </div>

  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/core.js" charset="utf-8"></script>

{% block ext_scripts %}
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
});
</script>

{% endblock %}
</body>
</html>
